@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: #020617;
  --surface: #1e2937;
  --text: #e2e8f0;
  --text-secondary: #94a3b8;
  --card: #1e2937;
  --border: #334155;
  --accent: #3b82f6;
  --card-bg: linear-gradient(145deg, #0f172a, #020617);
}

:root.light {
  --bg: #f8fafc;
  --surface: #ffffff;
  --text: #0f172a;
  --text-secondary: #64748b;
  --card: #ffffff;
  --border: #d4dbe4;
  --card-bg: linear-gradient(145deg, #f8fafc, #f1f5f9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #444 transparent;
}

body {
  font-family: Roboto, system-ui, sans-serif;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: var(--surface);
  border-bottom: 1px solid var(--border);
  padding: 10px 0;
}

.header__github img {
  width: 40px;
  height: 40px;
}

.header__logo {
  animation: rotate-animation 10s linear infinite;
}

@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__toogle-theme,
.home__btn {
  background-color: inherit;
  border: 2px solid var(--text);
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  color: var(--text);
}

.navigation {
  width: 300px;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid var(--border);

  height: 100%;
  overflow-y: auto;
}

.nav-link {
  display: block;
  padding: 10px;
  color: var(--text);
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link.active {
  color: rgb(37, 106, 218);
  font-weight: bold;
}

main {
  flex: 1;
  padding: 40px;
  color: var(--text);
  height: 100%;
  overflow-y: auto;
}

.home__title {
  margin: 10px 0;
}

.home__title span {
  color: var(--accent);
}

.home__btn,
.home__text {
  margin-bottom: 15px;
}

.home__text {
  font-size: 20px;
}

.home__topics-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1px;
  background-color: #e2e8f0;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  overflow: hidden;
}

.home__topics-list > * {
  background-color: var(--bg);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topic-card {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.features {
  padding: 40px 20px 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: var(--card-bg);
  border: 1px solid #1e293b;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  transition: 0.25s ease;
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--accent);
  box-shadow: 0 10px 30px rgba(59, 130, 246, 0.15);
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: var(--text);
}

.card p {
  font-size: 14px;
  color: var(--text-secondary);
}

.icon {
  width: 60px;
  height: auto;
  color: #60a5fa;
}

/* .stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.stat h2 {
  color: var(--accent);
  font-size: 28px;
  margin-bottom: 6px;
}

.stat p {
  color: var(--text-secondary);
  font-size: 14px;
}

.divider {
  width: 1px;
  height: 40px;
  background: var(--border);
} */

.topic-page__main-title,
.topic-page__text,
.topic-page__subtitle,
.topic-page__warning,
.topic-page__list {
  margin-bottom: 15px;
}

.language-jsx {
  margin-bottom: 15px !important;
}

.topic-page__doc-link-wrap {
  padding: 20px;
  border: 2px solid var(--border);
  border-radius: 50px;
}

.topic-page__doc-link-wrap a {
  text-decoration: none;
  color: var(--text);
}
